# API
VITE_API_URL=http://localhost:8080/api/v1
VITE_BFF_URL=http://localhost:8081

# Google Identity Platform (GIP)
VITE_GIP_API_KEY=your-firebase-web-api-key
VITE_GIP_PROJECT_ID=tesseracthub-480811
VITE_GIP_AUTH_DOMAIN=tesseracthub-480811.firebaseapp.com
VITE_GIP_TENANT_ID=HomeChef-Business-8s8ql
